{% extends 'carbono/base.html' %}
{% load static %}
{% block content %}
<div class='center'>
<h1>Calculadora de Carbono</h1>

<h2>Dados do Carro</h2>
<form method="POST">
    {% csrf_token %}
    
    <!-- Display all Car objects -->
    {% for carro in carros %}
    <div>
        <p><strong>{{ carro.legenda }}</strong></p>
        <label for="km_por_mes_{{ carro.id }}">Km percorrido por mês:</label>
        <input type="number" id="km_por_mes_{{ carro.id }}" name="km_por_mes_{{ carro.id }}"><br>
    </div>
    {% endfor %}
    
    <button type="submit">Calcular Carro</button>
</form>

{% if dados_carro %}
    <h2>Resultados do Carro</h2>
    <ul>
    {% for key, value in dados_carro.items %}
      <li>{{ key }}: {{ value }}</li>
    {% endfor %}
    </ul>
{% endif %}

<h2>Dados de Energia</h2>
<form method="POST">
    {% csrf_token %}

    <!-- Display all Energia objects -->
    <select name="tipo_de_energia" id="tipo_de_energia" required>
        <option value="">-- Escolha um modo de cálculo --</option>
        {% for energia in energias %}
            <option value="{{ energia.id }}">{{ energia.legenda }}</option>
        {% endfor %}
    </select><br><br>
    
    {% if energia_selecionada %}
        {% if energia_selecionada.modo_de_calculo == 'kWh' %}  
            <label for="kwh_usado">kWh usados:</label>
            <input type="number" id="kwh_usado" name="kwh_usado" required><br>
        {% elif energia_selecionada.modo_de_calculo == 'Conta de Energia' %}
            <label for="valor_da_conta">Valor da conta:</label>
            <input type="number" id="valor_da_conta" name="valor_da_conta" required><br>
        {% endif %}
    {% endif %}

    <button type="submit">Calcular Energia</button>
</form>

{% if dados_energia %}
    <h2>Resultados de Energia</h2>
    <ul>
        {% for key, value in dados_energia.items %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>
{% endif %}
  </div>

<style>
  .center {
    margin: auto;
    width: 60%;
    border: 3px solid #a5addb;
    padding: 10px;
  }
</style>

{% endblock %}