{% extends 'carbono/base.html' %}
{% load static %}
{% block content %}
<div class='center'>
  <h1>Calculadora de Carbono</h1>

  <div class="container">
      <h2>Cálculo para Carro</h2>
      <form method="post">
          {% csrf_token %}
          <div class="form-group">
              <label for="carro_tipo">Tipo de Carro:</label>
              <select id="carro_tipo" name="carro_tipo" class="form-control">
                  <option value="">Selecione o tipo de carro</option>
                  <option value="gasolina_1.4">Carro à Gasolina 1.4</option>
                  <option value="gasolina_1.5_2.0">Carro à Gasolina 1.5 até 2.0</option>
                  <option value="gasolina_mais_2.0">Carro à Gasolina mais de 2.0</option>
                  <option value="alcool_1.4">Carro à Álcool 1.4</option>
                  <option value="alcool_1.5_2.0">Carro à Álcool 1.5 até 2.0</option>
                  <option value="alcool_mais_2.0">Carro à Álcool mais de 2.0</option>
                  <option value="gas">Carro movido à Gás</option>
              </select>
          </div>

          <div class="form-group">
              <label for="km_por_mes">Km por mês:</label>
              <input type="number" id="km_por_mes" name="km_por_mes" class="form-control" required>
          </div>

          <button type="submit" class="btn btn-primary">Calcular</button>
      </form>


      {% if carro_resultado %}
          <p><b>Resultado do Carro:</b></p>
          <p>Crédito Mensal: {{ carro_resultado.credito }} toneladas</p>
          <p>Crédito Anual: {{ carro_resultado.anual }} toneladas</p>
      {% endif %}
  </div>

  <div class="container">
      <h2>Cálculo para Energia</h2>
      <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="energia_tipo">Tipo de Energia:</label>
            <select id="energia_tipo" name="energia_tipo" class="form-control">
                <option value="">Selecione o tipo de energia</option>
                <option value="kwh">Energia por kWh</option>
                <option value="conta">Energia por conta de luz</option>
            </select>
        </div>

        <div id="kwh_input" style="display: none;">
            <div class="form-group">
                <label for="kwh_usado">kWh Usado:</label>
                <input type="number" id="kwh_usado" name="kwh_usado" class="form-control" required>
            </div>
        </div>
        
        <div id="conta_input" style="display: none;">
            <div class="form-group">
                <label for="valor_da_conta">Valor da Conta de Luz:</label>
                <input type="number" id="valor_da_conta" name="valor_da_conta" class="form-control" required>
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Calcular</button>
      </form>

        {% if energia_resultado %}
            <p><b>Resultado da Energia:</b></p>
            <p>Crédito Mensal: {{ energia_resultado.credito }} toneladas</p>
            <p>Crédito Anual: {{ energia_resultado.anual }} toneladas</p>
        {% endif %}

  </div>

  {% if total_anual %}
  <div class="container">
      <h2>Resultado Total</h2>
      <p>Total Anual: {{ total_anual }} toneladas</p>
      <p>Árvores necessárias: {{ arvores_necessarias }} árvores</p>
      <p>Valor da tonelada: R$ {{ valor_tonelada }}</p>
  </div>
  {% endif %}
  </div>

<style>
  .center {
    margin: auto;
    width: 60%;
    border: 3px solid #a5addb;
    padding: 10px;
  }
</style>

{% endblock %}