* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4; 
  color: #333; 
}

header {
  background: linear-gradient(135deg, #002f6c, #58d17e);
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

main {
  max-width: 600px; 
  margin: 20px auto; 
  padding: 20px;
  background: #ffffff; 
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #000000; 
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold; 
}

input[type="number"] {
  width: 100%; 
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #2E8B57; 
  border-radius: 5px; 
  font-size: 1rem;
}

p {
  margin-top: 15px;
  font-weight: bold;
  color: #e13434; 
  font-size: 1.2rem; 
}

.calculadora-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Distribui os cálculos lado a lado */
  padding: 20px;
}

.calculadora {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 500px; /* Largura fixa para cada calculadora */
  flex: 1; /* Faz com que os cards ocupem espaço igual */
  min-width: 250px; /* Largura mínima para os cards */
  max-width: 500px; /* Largura máxima para os cards */
  background: #ffffff; /* Fundo branco para os cards */
  border-radius: 10px; /* Bordas arredondadas */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra suave */
  padding: 20px; /* Espaçamento interno */
  transition: transform 0.2s; /* Efeito suave ao passar o mouse */
}

.calculadora:hover {
  transform: scale(1.02); /* Aumenta levemente o card ao passar o mouse */
}
.emissao-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Distribui os cards lado a lado */
  padding: 20px; /* Adiciona padding ao redor da container */
  
}

.resul-compensacao {
  color: #2E8B57;
}

select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #2E8B57;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
  appearance: none; /* Remove o estilo padrão do navegador */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="grey"><polygon points="0,0 20,0 10,10" /></svg>');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 12px;
}

select:hover {
  border-color: #347350;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

select:focus {
  border-color: #347350;
  outline: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
h2 {
  font-size: 1.8rem;
  margin-bottom: 15px; /* Mais espaço abaixo[ do título */
  color: #002f6c; /* Cor do título dos cards */
  border-bottom: 2px solid #58d17e; /* Linha embaixo do título */
  padding-bottom: 10px; /* Espaço abaixo do título */
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #444; /* Cor do texto */
}

input[type="number"] {
  width: 100%; 
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #2E8B57; 
  border-radius: 5px; 
  font-size: 1rem;
  transition: border-color 0.3s; /* Transição suave da cor da borda */
}

input[type="number"]:focus {
  border-color: #58d17e; /* Cor da borda ao focar no campo */
}

button {
  margin-top: 10px; /* Espaço acima do botão */
  padding: 10px 15px;
  background-color: #2e8b57; 
  color: white;
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
  transition: background 0.3s ease; 
  font-size: 1rem;
}
/* Modifica a cor do p */
.resul-valor{
  color: #2E8B57;
}
button:hover {
  background-color: #5DBB8A; 
}

/* Foi adicionado para melhor visual do usuário */
.botoes {
  text-align: center; 
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.button-container {
  display: flex;
  gap: 10px; /* Espaçamento entre os botões */
}

.button-container form,
.button-container a {
  margin: 0;
}


/* Responsividade */
@media (max-width: 768px) {
  main {
    padding: 15px; 
  }

  h1 {
    font-size: 2rem; 
  }

  h2 {
    font-size: 1.5rem; 
  }

  input[type="number"], button {
    font-size: 0.9rem; 
  }
}