* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #e6e1e1;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #002f6c;
  color: white;
  padding: 15px 10%;
}

.navbar h1 {
  font-size: 1.8rem;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-left: 20px;
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  position: relative; /* Certifique-se de que a imagem de fundo está posicionada corretamente */
  background-image: url('https://img.freepik.com/fotos-gratis/vista-de-arvores-verdes-da-floresta-com-co2_23-2149675039.jpg?semt=ais_hybrid');
  background-size: cover; /* Cobre toda a área */
  height: 400px; /* Ajuste a altura conforme necessário */
  color: white; /* Ajuste a cor do texto se necessário */
  display: flex;
  align-items: center;
  justify-content: center;
}

.imagem-posicionada {
  display: block;
  margin: 20px auto; /* Centraliza a imagem horizontalmente */
  width: 80%; /* Ajuste conforme necessário */
  max-width: 600px; /* Limita a largura máxima da imagem */
  clear: both; /* Evita sobreposição */
}



.hero h2 {
  font-size: 3.0rem;
}

.hero p {
  font-size: 1.3rem;
  margin: 20px 0;
}

.hero .btn {
  padding: 10px 20px;
  background-color: #007b5e;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.hero .btn:hover {
  background-color: #005f46;
}

.container {
  padding: 50px 10%;
}

.text {
  margin-top: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 45%;
  margin-left: 170px;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}



.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 45%;
}

footer {
  background-color: #002f6c;
  color: white;
  padding: 20px 10%;
  text-align: center;
}
