/* -------------- ESTILOS MAIN -------------- */

/* Remove as margens e o preenchimento padrão de todos os elementos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilização básica do corpo da página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #e6e1e1; 
    color: #333; 
    font-size: 1.1rem;
}

/* Estilo da barra de navegação */
.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background: linear-gradient(135deg, #002f6c, #58d17e); 
    color: white; 
    padding: 15px 10%; 
}

/* Agrupamento de ícone e título na navbar */
.icone-texto {
    display: flex;
    align-items: center;
}

/* Estilo do ícone da navbar */
.imagem-navbar {
    width: 55px; 
    height: auto; 
    margin-right: 10px; 
}

/* Estilo do título da navbar */
.titulo-nav {
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Remove o estilo de lista do menu da navbar */
.navbar ul {
    list-style: none;
    display: flex;
}

/* Espaçamento entre itens da lista da navbar */
.navbar ul li {
    margin-left: 20px;
}

/* Estilo dos links da navbar */
.navbar ul li a {
    font-style: none;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Remove sublinhado ao passar o mouse sobre os links */
.navbar ul li a:hover {
    text-decoration: none;
}

/* -------------- || -------------- */

/* Estilo do bloco de destaque */
.hero {
    background-image: url(../assets/img-principal.jpg); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: right;
    padding: 305px 3%;
    position: relative;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Estilo do título principal dentro do hero */
.hero h2 {
    font-size: 3.0rem;
}

/* Margem superior para parágrafos no hero */
.hero p {
    margin: 20px 0;
}

/* Centraliza o texto do título */
.titulo-texto {
    text-align: center;   
}


/* Espaçamento interno de um contêiner */
.container {
    padding: 50px 10%;
}

/* Estilo do texto explicativo */
.texto-explicacao {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0.3, 0.3);
    width: 80.4%;
    margin-left: 170px;
    text-align: justify;
    font-size: 18px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito de zoom ao passar o mouse */
.texto-explicacao:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;
}

/* Centraliza o título do bloco explicativo */
.titulo-explicacao {
    text-align: center;
}

/* Estilo do bloco de informações */
.informacoes {
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333333;
    padding: 15px;
    border-left: 4px solid #4CAF50;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

/* Estilo do bloco de texto com imagem */
.texto-com-imagem {
    display: flex;
    align-items: center;
    gap: 25px;
    text-align: justify;
    margin-top: 20px;
}

/* Animação para o texto com ID específico */
#animacao-texto {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito de zoom ao passar o mouse */
#animacao-texto:hover {
    transform: scale(1.09);
    transition: opacity 0.2s ease-out, transform 0.2s ease-out;
}

/* Estilo do bloco de texto */
.text {
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0.3, 0.3);
    width: 45%;
    margin-left: 170px;
}

/* Estilo da imagem com bordas arredondadas */
.imagem {
    max-width: 575px;
    width: 575px;
    height: 400px;
    border-radius: 8px;
    margin-top: 25px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito de zoom ao passar o mouse na imagem */
.imagem:hover {
    transform: scale(1.07);
    transition: transform 0.2s ease;
}

/* Espaçamento superior para parágrafos */
p {
    margin-top: 10px;
}

/* Estilo dos cartões */
.cards {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

/* Estilo do card individual */
.card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0.3, 0.3);
    width: 49%;
}

/* Efeito de zoom ao passar o mouse */
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Estilo do título do card */
.card h3 {
    margin-bottom: 10px;
}

/* Estilo do destaque */
#destaque {
    margin-top: 30px;
}

/* Estilo para listas dentro do texto explicativo */
.texto-explicacao ul {
    margin: 10px 0;
    padding-left: 20px;
}

/* Margem inferior para itens de lista */
.texto-explicacao li {
    margin-bottom: 10px;
}

/* Estilo da lista de surgimento */
.lista-surgimento {
    background-color: #f9f9f9;
    color: #333333;
    padding: 15px;
    border-left: 4px solid #4CAF50;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

/* Estilo do contêiner da calculadora */
.pre-calculadora {
    margin: 35px auto;
    width: 80.5%;
    text-align: center;
    padding: 50px 20px;
    background: linear-gradient(135deg, #002f6c, #58d17e);
    color: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Transforma o contêiner da calculadora */
.pre-calculadora::before {
    transform-origin: center;
}

/* Estilo do título da calculadora */
#calculadora h1 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #fff;
}

/* Estilo do parágrafo da calculadora */
#calculadora p {
    font-size: 1.2em;
    margin-bottom: 25px;
}

/* Estilo do botão da calculadora */
.btn-calc {
    display: inline-block;
    padding: 14px 32px;
    color: #fff;
    font-weight: bold;
    font-size: 1.1em;
    text-decoration: none;
    background: #002f6c;
    border-radius: 50px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease;
}

/* Efeito ao passar o mouse no botão */
.btn-calc:hover {
    background: #58d17e;
    transition: 0.3s;
}

/* Estilização do rodapé */
footer {
    background: linear-gradient(135deg, #58d17e ,#002f6c);
    color: white;
    padding: 20px 10%;
    text-align: center;
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}  

/* -------------- ESTILOS RESOLUÇÃO RESPONSIVA -------------- */

/* Estilos para dispositivos com largura máxima de 1024px (desktop pequeno) */
@media (max-width: 1024px) {
    body {
        font-size: 1.1rem;
    }
    .navbar {
        padding: 10px 5%;
    }
    .hero {
        padding: 250px 5%;
        text-align: center;
    }
    .texto-explicacao, .text {
        width: 93%;
        margin-left: 5%;
    }
    .cards {
        flex-direction: column;
    }
    .card {
        width: 92%;
        margin-bottom: 20px;
    }
    .texto-com-imagem {
        display: flex;
        flex-direction: column;
    }
}

/* Estilos para dispositivos com largura máxima de 834px (iPad) */
@media (max-width: 834px) {
    body {
        font-size: 1.1rem;
    }
    .navbar {
        flex-direction: column;
    }
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }
    .hero {
        padding: 150px 5%;
        text-align: center;
    }
    .texto-explicacao, .text {
        width: 90%;
        margin-left: 5%;
    }
    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }
    .card .text {
        order: 1;
        width: 100%;
        margin-bottom: 20px;
    }
    .card .imagem {
        order: 2;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
}

/* Estilos para dispositivos com largura máxima de 768px (tablets) */
@media (max-width: 768px) {
    body {
        font-size: 1.1rem;
    }
    .navbar {
        flex-direction: column;
    }
    .navbar ul {
        flex-direction: column;
        align-items: center;
    }
    .hero {
        padding: 150px 5%;
        text-align: center;
    }
    .texto-explicacao, .text {
        width: 78%;
        margin-left: 5%;
    }
    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .card .text {
        order: 1;
        width: 100%;
        margin-bottom: 20px;
    }
    .card .imagem {
        order: 2;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
}

/* Estilos para dispositivos com largura máxima de 480px (mobile) */
@media (max-width: 480px) {
    body {
        font-size: 1.1rem;
    }
    .navbar {
        flex-direction: column;
    }
    .navbar ul {
        flex-direction: column;
        align-items: center;
        font-size: 0.5rem;
    }
    .hero {
        padding: 150px 5%;
        text-align: center;
    }
    .texto-explicacao, .text {
        width: 88%;
        margin-left: 5%;
    }
    .card {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .card .text {
        order: 1;
        width: 100%;
        margin-bottom: 20px;
    }
    .card .imagem {
        order: 2;
        max-width: 100%;
        height: auto;
        margin: 0 auto;
    }
}

