/*--------------ESILOS MAIN--------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4; 
  color: #333; 
}

header {
  background: linear-gradient(135deg, #002f6c, #58d17e);
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

main {
  max-width: 90vw; 
  margin: 20px auto; 
  padding: 20px;
  background: #ffffff; 
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #000000; 
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold; 
}

/* Formatação base para resultados */
p {
  margin-top: 15px;
  font-weight: bold;
  color: #e13434; 
  font-size: 1.2rem; 
}
/*--------------||--------------*/

/*--------------DEMAIS ESTILOS--------------*/

/* Estilo da barra de navegação */
.calculadora-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

/* Estilo do card das calculadoras */
.calculadora {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 10px;
  width: 100%;
  flex: 1;
  min-width: 250px;
  max-width: 100%;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  padding: 20px;
  transition: transform 0.2s;
}

 /* Aumenta levemente o card ao passar o mouse */
.calculadora:hover {
  transform: scale(1.02);
}

/* Distribui os cards lado a lado */
.emissao-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

/* Resultado da compensação */
.resul-compensacao {
  color: #2E8B57;
}

/* Estilo do elemento select para dropdowns */
select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #2E8B57;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s, box-shadow 0.3s;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="grey"><polygon points="0,0 20,0 10,10" /></svg>');
  background-repeat: no-repeat;
  background-position: right 10px top 50%;
  background-size: 12px;
}

/* Estilo do elemento select ao passar o mouse */
select:hover {
  border-color: #347350;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo do elemento select ao receber foco */
select:focus {
  border-color: #347350;
  outline: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  color: #002f6c;
  border-bottom: 2px solid #58d17e;
  padding-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #444;
}

/* Estipo dos cmapos de entrada numérica */
input[type="number"] {
  width: 100%; 
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #2E8B57; 
  border-radius: 5px; 
  font-size: 1rem;
  transition: border-color 0.3s;
}

input[type="number"]:focus {
  border-color: #58d17e;
}

button {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #2e8b57; 
  color: white;
  border: none; 
  border-radius: 5px; 
  cursor: pointer;
  transition: background 0.3s ease; 
  font-size: 1rem;
}

/* Modifica a cor do p */
.resul-valor{
  color: #2E8B57;
}

button:hover {
  background-color: #5DBB8A; 
}

/* Foi adicionado para melhor visual do usuário */
.button-container {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  gap: 20px
  
}

/* -------------- ESTILOS RESOLUÇÃO RESPONSIVA -------------- */

/* Estilos para dispositivos com largura máxima de 1024px (desktop pequeno) */
@media (max-width: 1024px) {
  body {
      font-size: 1.1rem;
  }
  .navbar {
      padding: 10px 5%;
  }
  .hero {
      padding: 250px 5%;
      text-align: center;
  }
  .texto-explicacao, .text {
      width: 75%;
      margin-left: 12.5%;
  }
  .cards {
      flex-direction: column;
  }
  .card {
      width: 100%;
      margin-bottom: 15px;
  }
}

/* Estilos para dispositivos com largura máxima de 834px (iPad) */
@media (max-width: 834px) {
  body {
      font-size: 1.1rem;
  }
  .navbar {
      padding: 10px 5%;
  }
  .hero {
      padding: 250px 5%;
      text-align: center;
  }
  .texto-explicacao, .text {
      width: 80%;
      margin-left: 10%;
  }
  .cards {
      flex-direction: column;
  }
  .card {
      width: 100%;
      margin-bottom: 15px;
  }
}

/* Estilos para dispositivos com largura máxima de 768px (tablets) */
@media (max-width: 768px) {
  body {
      font-size: 1.05rem;
  }
  .navbar {
      padding: 10px 5%;
  }
  .hero {
      padding: 200px 5%;
      text-align: center;
  }
  .texto-explicacao, .text {
      width: 85%;
      margin-left: 7.5%;
  }
  .cards {
      flex-direction: column;
  }
  .card {
      width: 100%;
      margin-bottom: 15px;
  }
}

/* Estilos para dispositivos com largura máxima de 480px (mobile) */
@media (max-width: 480px) {
  body {
      font-size: 1rem;
  }
  .navbar {
      flex-direction: column;
      padding: 10px;
  }
  .navbar ul {
      flex-direction: column;
      align-items: center;
  }
  .hero {
      padding: 150px 5%;
      text-align: center;
  }
  .texto-explicacao, .text {
      width: 90%;
      margin-left: 5%;
  }
  .cards {
      flex-direction: column;
  }
  .card {
      width: 100%;
      margin-bottom: 15px;
  }
}


